In [41]:
import pandas as pd
import re

In [42]:
data = pd.read_csv("Dataset_-_Dataset.csv")
data.head(500)

,Product,Country,Variety,Grades,Region,2020-11-16,2020-11-09,2020-11-02,2020-10-26,2020-10-19,...,2018-01-29,2018-01-22,2018-01-15,2018-01-08,2018-01-01,2017-12-25,2017-12-18,2017-12-11,2017-12-04,2017-11-27
0,Avocado (#99),Chile,Avocado / Variety / Hass,Avocado / Grade / Second Quality,"Pedro Aguirre Cerda, Santiago",4.15,4.34,4.36,4.59,4.74,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Avocado (#99),Chile,Avocado / Variety / Hass,Avocado / Grade / Second Quality,"La Calera, Quillota",5.05,9.41,4.22,3.79,4.51,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Avocado (#99),Chile,Avocado / Variety / Hass,Avocado / Grade / Second Quality,Araucania,5.35,4.41,4.38,4.56,4.14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Avocado (#99),Chile,Avocado / Variety / Hass,Avocado / Grade / First Quality,Araucania,5.67,5.57,4.69,5.09,4.81,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Avocado (#99),Chile,Avocado / Variety / Hass,Avocado / Grade / First Quality,"La Calera, Quillota",4.81,4.82,5.23,4.63,4.83,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,Apple (#97),United States,Apple / Variety / Gala,Apple / Variety / U.S. One,"Baltimore, Maryland",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
496,Apple (#97),United States,Apple / Variety / Gala,Apple / Grade / California Extra Fancy,"Los Angeles, California",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
497,Apple (#97),United States,Apple / Variety / Gala,Apple / Grade / California Extra Fancy,"Los Angeles, California",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
498,Apple (#97),United States,Apple / Variety / Gala,Apple / Grade / U.S. No.1,"Philadelphia, Pennsylvania",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
499,Apple (#97),United States,Apple / Variety / Gala,Apple / Variety / U.S. One,"Baltimore, Maryland",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
for idx, row in data.iterrows():
    [(name, num)] = re.findall(r'^(\D+) \(#(\d+)\)$', data["Product"][idx])
    data["Product_name"][idx] = name
    data["Product_number"][idx] = num
    #pd.DataFrame(data["Product"].str.findall(r'^(\D+) \(#(\d+)\)$', 'Avocado (#99)'))

KeyError: 'Product_name'

Variety와 Grade의 경우, 가장 마지막에 기재된 항목만을 데이터로 가져야 종속성을 해치지 않으면서 atomic을 가질 수 있을 것으로 보인다

In [48]:
data["Variety"] = data.Variety.str.split("/ ").str[-1]
data["Grades"] = data.Grades.str.split("/ ").str[-1]

다음으로 Region을 살펴보자

In [47]:
set(data["Region"])

{'Araucania',
 'Arica',
 'Atlanta, Georgia',
 'Baltimore, Maryland',
 'Boston, Massachusetts',
 'Busan, Gyeongsangnam-do',
 'Chicago, Illinois',
 'Chillán, Diguillín',
 'Chillán, Diguillín Province',
 'Columbia, South Carolina',
 'Concepción',
 'Coquimbo, Elqui',
 'Daegu, North Gyeongsang',
 'Daejeon',
 'Dallas, Texas',
 'Detroit, Michigan',
 'Gwangju',
 'Istanbul',
 'La Calera, Quillota',
 'Los Angeles, California',
 'Mersin',
 'Miami, Florida',
 'National',
 'New York',
 'Ovalle, Limari',
 'Pedro Aguirre Cerda, Santiago',
 'Philadelphia, Pennsylvania',
 'Puerto Montt',
 'San Francisco, California',
 'Santiago',
 'Seoul',
 'Talca'}

Region은 일관성이 없게 수집된 것을 볼 수 있다. ,를 delimeter로 보고, (A, B) 구성일 경우 B가 더 큰 개념인 것을 볼 수 있는데, B가 존재하지 않는 경우도 있다. '

일관성을 위해 (A, B) 구성으로 사용할 지, Dallas, Texas의 경우 Texas만 사용할 지 등에 대해 일관된 Rule이 필요해 보인다.
만약 (A, B) 구성이 반드시 필요하다면, 소분류 지역과 대분류 지역을 mapping한 Table을 활용해 (A, B)와 같이 처리해 줄 수 있을 것으로 보인다

In [49]:
data.head()

,Product,Country,Variety,Grades,Region,2020-11-16,2020-11-09,2020-11-02,2020-10-26,2020-10-19,...,2018-01-29,2018-01-22,2018-01-15,2018-01-08,2018-01-01,2017-12-25,2017-12-18,2017-12-11,2017-12-04,2017-11-27
0,Avocado (#99),Chile,Hass,Second Quality,"Pedro Aguirre Cerda, Santiago",4.15,4.34,4.36,4.59,4.74,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Avocado (#99),Chile,Hass,Second Quality,"La Calera, Quillota",5.05,9.41,4.22,3.79,4.51,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Avocado (#99),Chile,Hass,Second Quality,Araucania,5.35,4.41,4.38,4.56,4.14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Avocado (#99),Chile,Hass,First Quality,Araucania,5.67,5.57,4.69,5.09,4.81,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Avocado (#99),Chile,Hass,First Quality,"La Calera, Quillota",4.81,4.82,5.23,4.63,4.83,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN